{% extends 'base.html.twig' %}

{% block title %}Kanazawa - Jeu en ligne{% endblock %}

{% block body %}
    <div>
        <h2 class="text-center">Présentation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, corporis, cum delectus dolorum eaque et exercitationem explicabo illum ipsum odio placeat quam quia suscipit tempora unde? Ad libero possimus sit!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, corporis, cum delectus dolorum eaque et exercitationem explicabo illum ipsum odio placeat quam quia suscipit tempora unde? Ad libero possimus sit!
        <br />
            <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, corporis, cum delectus dolorum eaque et exercitationem explicabo illum ipsum odio placeat quam quia suscipit tempora unde? Ad libero possimus sit!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, corporis, cum delectus dolorum eaque et exercitationem explicabo illum ipsum odio placeat quam quia suscipit tempora unde? Ad libero possimus sit!</p>
    </div>
    <div class="pt-5" id="video">
        <h2>Règles</h2>
        <video src="{{ asset('videos/anim_vid_promo_1.mp4') }}" width="896" height="504" controls controlslist="nodownload noremoteplayback" disablePictureInPicture></video>
    </div>
{% endblock %}